table {
    table-layout: fixed;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
}

table th, td {
    border: 1px solid black;
    text-align: left;
    padding-left: 1%;
}

table tr:nth-child(odd) {
    background: #f6f8fa;
}

table tr:nth-child(1) {
    background: #fff;
}

#title {
    text-align: center;
    padding-bottom: 1%; 
}

#radiogroup {
    padding: 1%;
}

input[type="radio"] {
    margin: 0 2px 0 10px;
}
