/**
 * Main Layout
 */
html, body, #root {
    height: 100%;
}
body {
    margin: 0;
}
/**
 * Text pages
 */
article {
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1rem;
    max-height: 100vh;
    overflow-y: auto;
}
@media (min-width: 990px) {
    article {
        top: 0px;
        left: 470px;
    }
}
article section {
    overflow: hidden;
    margin: 2.25em 0 4em;
}
article .color-block {
    padding: 2em 0 4em;
    margin-top: 0;
    margin-bottom: 0;
}
.main-col {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}
@media(min-width: 768px) {
    .main-col {
        min-width: 48em;
    }
}
hr {
    display: block;
    height: 1px;
    border: 0;
    background: #000;
    width: 100%;
    margin: 2em 0;
    padding: 0;
}
