/**
 * Main Layout
 */
 main {
    position: relative;
    min-height: 35rem;
}
@media (min-width: 768px){
    main {
        position: absolute;
        top: 79px; /* matches 79px .main-header */
        bottom: 0;
        left: 0;
        right: 0;
        min-height: auto;
    }
}
/**
 * Text pages
 */
article section {
    overflow: hidden;
    margin: 2.25em 0 4em;
}
article .color-block {
    padding: 2em 0 4em;
    margin-top: 0;
    margin-bottom: 0;
}
.main-col {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    background: #000;
    width: 100%;
    margin: 2em 0;
    padding: 0;
}
