/**
 * Typography
 */
html,
body {
    background: #fff;
    color: #222;
}
.h1, .h2, .h3, .h4, .h5 {
    font-family: 'glacial_cl', sans-serif;
}
.h2 {
    font-weight: normal;
    margin: 0;
}
.h3, .h4, .h5 {
    font-family: 'glacial_cl', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}
p {
    font-size: 1.1rem;
}
pre {
    white-space: pre-wrap;
}
