{
    "plugins": [
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-syntax-typescript",
        [
            "babel-plugin-typescript-to-proptypes",
            {
                "implicitChildren": true,
                "typeCheck": true
            }
        ]
    ]
}