{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn",
    "quotes": ["warn", "single"],
    "indent": ["warn", 4],
    "no-multi-spaces": ["warn", {"ignoreEOLComments": true} ],
    "comma-spacing": ["warn"],
    "camelcase": ["warn", {"ignoreDestructuring": true ,"properties": "never"}],
    "eol-last": ["warn", "always"],
    "no-multiple-empty-lines": ["warn", {"max": 1}],
    "prefer-const": "warn",
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
