.map-container {
    position: absolute;
    top: 76px; /* sync with header positioning */
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 320px;
}
@media (min-width: 990px) {
    .map-container {
        top: 0;
        left: 470px;
    }
}
.leaflet-container {
    height: 100%;
    width: 100%;
}
.leaflet-container .leaflet-control-zoom {
    border: 1px solid #fff;
    box-shadow: 0 0 1px 1px #222;
}
.leaflet-container .leaflet-control-attribution {
    width: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
}
.leaflet-grab {
    cursor: crosshair;
}
.map-notice {
    position: absolute;
    top: 3.5rem;
    left: 0.5rem;
    z-index: 1000;
    padding: 0.5rem 0.75rem;
    width: 250px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px #222;
    display: none;
}
@media (min-width: 990px){
    /* Only show the "Click a building ..." notice for larger screens */
    .map-notice {
        display: block;
    }
}
