.search-box {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 1000;
    max-width:250px;
}

.search-box-pane {
    max-height: 2.4rem;
    overflow: hidden;
    
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 1px 1px #222222;

    display: flex;
    flex-flow: row nowrap;
}

.search-box .collapse-btn {
    width: 2rem;
    flex-shrink: 0;
    line-height: 2.3rem;
    text-align: center;

    background-color: transparent;
    border: none;
}
.search-box .collapse-btn.active {
    cursor: pointer;
}

.search-box input.form-control {
    flex: 1;
    padding: 0.1rem 0.1rem;
    max-width: 157px;
}
.search-box .btn {
   padding: 0.25rem 0.2rem;
   margin: 0.1rem;
   margin-left: 0;
}

.search-box .search-box-results {
    position: absolute;
    top: 100%;
    right: 0;
    left: 2rem;

    margin-top: 0.25rem;
    list-style: none;
    padding: 0;
    overflow: hidden;

    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 1px 1px #222222;
}
.search-box-result {
    display: block;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #eee;
}