.tooltip-hint {
    cursor: pointer;
}
.tooltip-wrap {
    float: right;
    position: relative;
    top: -3px;
    right: -4px;
}
.tooltip-wrap .icon-button svg {
    margin-top: -2px;
}
.tooltip {
    text-transform: none;
    text-align: left;
    width: 11em;
    right: 0;
    top: 27px;
    opacity: 1;
}
.tooltip .arrow {
    right: 7px;
}
