/**
 * Data categories
 */
 .data-category-list {
  padding: 0 0 0.75rem;
  text-align: center;
  list-style: none;
  margin: 0 0 0 0.2rem;
  text-align: center;
}
.data-category-list li {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 10rem;
  height: 10rem;
  margin: 0.375rem;
  box-shadow: 0 0 2px 5px #ffffff;
  transition: box-shadow 0.2s;
}
.data-category-list li:hover {
  box-shadow: 0 0 2px 5px #00ffff;
}
.data-category-list a {
  color: #222;
  text-decoration: none;
}
.data-category-list .category-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
  width: 100%;
  height: 100%;
}
.data-category-list .category-link:hover,
.data-category-list .category-link:active,
.data-category-list .category-link:focus {
  color: #222;
}

.data-category-list .category {
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 0.5em;
}
.data-category-list .description {
  text-align: center;
  font-size: 1em;
  margin: 0;
}
