/**
 * Banner
 */
 .beta-banner {
    width: 100%;
    min-height: 32px;
    font-size: 0.8333rem;
    padding: 0.25em 1em;
    background: #505050;
    color: #fff;
    margin: 0;
}
.beta-banner a:hover,
.beta-banner a:focus,
.beta-banner a {
    color: #fff;
    border-bottom-color: #fff;
}
.beta-banner a:hover,
.beta-banner a:focus {
    border-bottom-width: 2px;
}
