/**
 * Map legend
 */
.map-legend {
    z-index: 1000;
    position: absolute;
    bottom: 55px;
    right: 10px;
    float: right;
    background: white;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
}
.data-legend {
    list-style: none;
    padding: 0;
}
.data-legend .key {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    text-indent: -30px;
    margin: 0.125rem 0.5rem 0.125rem 0;
    vertical-align: middle;
    overflow: hidden;
}
