/**
 * Logo
 */
 .logotype {
     font-family: 'glacial_cl', sans-serif;
     text-transform: uppercase;
 }
.logo,
.logo.navbar-brand {
    display: block;
    padding: 0;
    color: #000;
    text-decoration: none;
}
.logo .logotype {
    font-size: 2rem;
    margin: 0 0 0 3px;
    display: inline-block;
    vertical-align: bottom;
}
.logo .logotype span {
    display: block;
    font-size: 0.75em;
    letter-spacing: 0.15em;
}
.logo .logotype span:first-child {
    font-size: 0.625em;
    letter-spacing: 0;
}
.map-legend .logo {
    margin-top: -5px;
    padding: 0 0.4rem 0.4rem 0.4rem;
}
.map-legend .logo .logotype {
    position: relative;
    top: 6px;
}
.map-legend .logo .row .cell {
    background-color: #ccc;
    height: 11px;
    width: 11px;
    animation: none !important;
}
.logo .grid {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 0;
}
.logo .row {
    display: block;
    margin: 0 0 5px 0;
}
.logo .row:last-child {
    margin-bottom: 0;
}
.logo .cell {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 3px 0 0;
}
.logo .row:nth-child(1) .cell:nth-child(1) {
    animation: pulse 47s infinite;
    animation-delay: -1.5s;
}
.logo .row:nth-child(1) .cell:nth-child(2) {
    animation: pulse 32s infinite;
    animation-delay: -0.5s;
}
.logo .row:nth-child(1) .cell:nth-child(3) {
    animation: pulse 49s infinite;
    animation-delay: -6s;
}
.logo .row:nth-child(1) .cell:nth-child(4) {
    animation: pulse 35s infinite;
    animation-delay: -10s;
}
.logo .row:nth-child(2) .cell:nth-child(1) {
    animation: pulse 34s infinite;
    animation-delay: -7.2s;
}
.logo .row:nth-child(2) .cell:nth-child(2) {
    animation: pulse 58s infinite;
    animation-delay: -15s;
}
.logo .row:nth-child(2) .cell:nth-child(3) {
    animation: pulse 31s infinite;
    animation-delay: -5s;
}
.logo .row:nth-child(2) .cell:nth-child(4) {
    animation: pulse 46s infinite;
    animation-delay: -4.5s;
}
.logo .row:nth-child(3) .cell:nth-child(1) {
    animation: pulse 32s infinite;
    animation-delay: -3.5s;
}
.logo .row:nth-child(3) .cell:nth-child(2) {
    animation: pulse 49s infinite;
    animation-delay: -8.5s;
}
.logo .row:nth-child(3) .cell:nth-child(3) {
    animation: pulse 35s infinite;
    animation-delay: -4s;
}
.logo .row:nth-child(3) .cell:nth-child(4) {
    animation: pulse 34s infinite;
    animation-delay: -17s;
}

@keyframes pulse {
    0%, 100% {
        background-color: #ffad00;
    }
    8% {
        background-color: #ffad00;
    }
    10% {
        background-color: #72b2fe;
    }
    16% {
        background-color: #72b2fe;
    }
    18% {
        background-color: #5ec233;
    }
    24% {
        background-color: #5ec233;
    }
    26% {
        background-color: #e96762;
    }
    32% {
        background-color: #e96762;
    }
    34% {
        background-color: #e099c1;
    }
    40% {
        background-color: #e099c1;
    }
    42% {
        background-color: #7d6f94;
    }
    48% {
        background-color: #7d6f94;
    }
    50% {
        background-color: #eb7905;
    }
    56% {
        background-color: #eb7905;
    }
    58% {
        background-color: #72b889;
    }
    64% {
        background-color: #72b889;
    }
    66% {
        background-color: #f0d106;
    }
    72% {
        background-color: #f0d106;
    }
    74% {
        background-color: #a6a6a7;
    }
    80% {
        background-color: #a6a6a7;
    }
    82% {
        background-color: #918e6e;
    }
    88% {
        background-color: #918e6e;
    }
    90% {
        background-color: #ffad00;
    }
}
