@import 'styles/colours.css';
@import 'styles/content.css';
@import 'styles/forms.css';
@import 'styles/layout.css';
@import 'styles/typography.css';

/**
 * View/edit, maps legend
 */
.maps-list {
    list-style: none;
    padding-left: 17px;
}
.bullet-prefix {
    position: relative;
    padding: 0rem 0.5rem 0.5rem 1.5rem;
    cursor: pointer;
}
.bullet-prefix::before {
    display: block;
    position: absolute;
    left: 0px;
    top: 6px;
    width: 10px;
    height: 10px;
    background-color: #7d7d7d;
    content: ' ';
    transition: background-color 0.2s;
}
.bullet-prefix:hover::before,
.bullet-prefix.toggled-on::before {
    background-color: #222;
}
.data-section .h3 {
    margin: 0;
}
.data-intro {
    padding-left: 1.5rem;
    font-size: 0.8333rem;
}
.data-list {
    margin: 0rem 0 1rem;
    padding-left: 1.5rem;
}
.data-list a {
    color: #555;
}
.data-list a:focus,
.data-list a:active,
.data-list a:hover {
    color: #222;
}
.data-list dt,
.data-section label {
    margin: 0;
    font-size: 0.8333rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #555;
}
.data-list dd,
.data-list input {
    margin: 0 0 0.5rem;
    line-height: 1.5;
}
.data-list .no-data {
    color: #999;
}
.data-legend {
    list-style: none;
    padding: 0;
}
.data-legend .key {
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
}

/**
 * Animations for welcome-float and sidebar
 */
.fade-enter {
    opacity: 0;
    z-index: 1001;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: 500ms;
}

/**
 * Sidebar could slide in, hard to make it natural if navigating between views with sidebars
 */
.info-container.fade-enter {
    /* transform: translateX(-100%); */
    opacity: 0;
    z-index: 1001;
}
.info-container.fade-enter.fade-enter-active {
    /* transform: translateX(0); */
    opacity: 1;
    transition: transform opacity 300ms;
}
.info-container.fade-exit {
    opacity: 1;
}
.info-container.fade-exit.fade-exit-active {
    opacity: 0;
    transition: 400ms;
    transition-delay: 100ms;
}
