/**
 * Sidebar layout
 */
.info-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 3rem;
    padding: 0.25em 0em;
    background: #fff;
    background-color: rgba(255,255,255,0.98);
    z-index: 1000;
    overflow-y: auto;
}
.info-container .h2:first-child {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: -0.1em;
    padding: 0 0.75rem;
}
#root .leaflet-container .leaflet-control-attribution {
    width: 100%;
    height: 3rem;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
}
.leaflet-right{
    left: 0;
}
@media (min-width: 380px){
    .info-container {
        bottom: 2rem;
    }
    #root .leaflet-container .leaflet-control-attribution {
        height: 2rem;
    }
}
@media (min-width: 768px){
    .info-container {
        top: 0;
        left: 0;
        width: 25rem;
        bottom: 0;
    }
    .leaflet-right{
        left: 25rem;
    }
    #root .leaflet-container .leaflet-control-attribution {
        height: auto;
    }
}

/**
 * Sidebar main header
 */
.sidebar-header .h2 {
    display: inline-block;
}
.sidebar-header .icon-button {
    margin-left: 0.25rem;
    margin-top: 0.4rem;
}
.sidebar-header .icon-button:hover {
    background-color: #eee;
}


/**
 * Data list section headers
 */
.section-header {
    display: block;
    position: relative;
    clear: both;
    text-decoration: none;
    color: #222;
    transition: background-color 0.2s;
}
.section-header h3 {
    display: inline-block;
}
.section-header > a {
    display: block;
    padding: 0.6rem 0.5rem 0.5rem 2.25rem;
    color: #222;
}
.section-header.active,
.section-header:hover {
    color: #222;
    text-decoration: none;
    background-color: #eeeeee;
}
.section-header > a::before {
    display: block;
    position: absolute;
    left: 0.55rem;
    top: 0.3rem;
    width: 1.2rem;
    height: 1rem;
    text-align: center;
    color: #222264;
    font-size: 1.2rem;
    content: '\25B8';
    transition: color 0.2s;
}
.section-header:hover > a::before,
.section-header.active > a::before {
    font-size: 1rem;
}
.section-header:hover > a::before,
.section-header.active > a::before {
    content: '\25BC';
}
.section-header.view.active:hover > a::before {
    content: '\25B2';
}

.data-section.inactive .section-header > a::before,
.data-section.inactive .section-header:hover > a::before,
.data-section.inactive .section-header.active:hover > a::before {
    opacity: 0.4;
    color: #222;
    font-size: 1.2rem;
    content: '\25B8';
}
.section-header .icon-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.6rem 0.5rem 0.5rem 0;
}

/**
 * Icon buttons
 */
.icon-button {
    display: inline-block;
    background-color: transparent;
    font-size: 0.8333rem;

    outline: none;
    border: none;

    color: #222;
    vertical-align: top;
}
.icon-button:hover {
    color: #222;
    text-decoration: none;
}

.icon-button.tooltip-hint {
    padding: 0;
}
.icon-button svg {
    background-color: transparent;
    transition: background-color color 0.2s;
    display: inline-block;

    color: #222;
    margin-top: 2px;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.4rem;
    border-radius: 0.9rem;
    margin: 0 0.05rem;
    display: inline-block;
    vertical-align: middle;
}
.svg-inline--fa.fa-w-11,
.svg-inline--fa.fa-w-16,
.svg-inline--fa.fa-w-8 {
    width: 1.8rem;
}
.icon-button:hover svg {
    background-color: #fff;
}
.icon-button.edit:hover svg {
    color: rgb(11, 225, 225);
}
.icon-button.help,
.section-header .icon-button.help {
    margin-top: 2px;
}
.icon-button.help:hover {
    color: rgb(0, 81, 255)
}
.icon-button.tooltip-hint.active svg,
.icon-button.tooltip-hint:hover svg {
    color: rgb(255, 11, 245);
}
.icon-button.close-edit svg {
    margin-top: -1px;
}
.icon-button.close-edit:hover svg {
    color: rgb(255, 72, 11)
}
.icon-button.save:hover svg {
    color: rgb(11, 225, 72);
}
.section-header .icon-button {
    float: right;
    margin-top: -2px;
}

/* Back button */
.icon-button.back,
.icon-button.back:hover {
    padding: 0;
    background-color: transparent;
}
.icon-button.back:hover svg {
    background-color: transparent;
}

/**
 * Data list sections
 */
.data-section {
    border-top: 1px solid #ffffff;
}
.data-section.inactive {
    opacity: 0.5;
}
.data-section .h3 {
    margin: 0;
}
.data-intro {
    padding-left: 0.75rem;
    font-size: 0.8333rem;
    margin-top: 0.25rem;
}
.data-list {
    margin: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.data-section form {
    padding: 0 0.75rem;
}
.data-list a {
    color: #555;
}
.data-list a:focus,
.data-list a:active,
.data-list a:hover {
    color: #222;
}
.data-list dt,
.data-section label {
    display: block;
    margin: 0.5em 0 0;
    font-size: 0.8333rem;
    font-weight: normal;
    color: #555;
}
.data-section input,
.data-section textarea,
.data-section select {
    margin: 0 0 0.5em 0;
}
.data-list dd {
    margin: 0 0 0.5rem;
    line-height: 1.5;
}
.data-list .no-data {
    color: #999;
}
.data-list dd ul {
    list-style: none;
    padding-left: 0;
}
