/**
 * Sidebar layout
 */
.info-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 3rem;
    padding: 0.25em 0em 2em;
    background: #fff;
    z-index: 1000;
    overflow-y: auto;
}
.info-container h2:first-child {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: -0.1em;
    padding: 0 0.75rem;
}
#root .leaflet-container .leaflet-control-attribution {
    width: 100%;
    height: 3rem;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
}
.leaflet-right{
    left: 0;
}
@media (min-width: 380px){
    .info-container {
        bottom: 2rem;
    }
    #root .leaflet-container .leaflet-control-attribution {
        height: 2rem;
    }
}
@media (min-width: 768px){
    .info-container {
        top: 0;
        left: 0;
        width: 25rem;
        bottom: 0;
    }
    .leaflet-right{
        left: 25rem;
    }
    #root .leaflet-container .leaflet-control-attribution {
        height: auto;
    }
}

/**
 * Sidebar main header
 */
.sidebar-header {
    border-bottom: 6px solid;
    border-image: linear-gradient(
        to right,
        #edc40b 0%, #edc40b 8.3%,
        #f0ee0c 8.3%, #f0ee0c 16.6%,
        #ff9100 16.6%, #ff9100 25%,
        #ee5f63 25%, #ee5f63 33.3%,
        #ee91bf 33.3%, #ee91bf 41.6%,
        #aa7fa7 41.6%, #aa7fa7 50%,
        #6f879c 50%, #6f879c 58.3%,
        #5ec232 58.3%, #5ec232 66.6%,
        #6dbb8b 66.6%, #6dbb8b 75%,
        #65b7ff 75%, #65b7ff 83.3%,
        #a1a3a9 83.3%, #a1a3a9 91.6%,
        #9c896d 91.6%, #9c896d 100%
    ) 1;
}
.sidebar-header h2 {
    margin: 0.45rem 0 0.6rem;
    display: inline-block;
}
.sidebar-header .icon-button {
    margin-left: 0.25rem;
    margin-top: 0.3rem;
}
.sidebar-header .icon-button:hover {
    background-color: #eee;
}


/**
 * Data list section headers
 */
.section-header {
    display: block;
    position: relative;
    clear: both;
    text-decoration: none;
    color: #222;
    border-style: solid;
    border-color: #fff;
    border-top-color: #222;
    border-width: 1px 0 4px 0;
    padding-top: 4px;
}
.section-header h3 {
    display: inline-block;
}
.section-header > a {
    display: block;
    padding: 0.6rem 0.5rem 0.5rem 2.25rem;
    color: #222;
    outline: none;
}
.section-header.active,
.section-header:hover {
    color: #222;
    text-decoration: none;
}
.data-section:first-of-type .section-header {
    border-top-color: #fff;
}
.section-header.active.location {
    border-bottom-color: #edc40b;
}
.section-header.location:hover > a::before,
.section-header.location.active > a::before {
    color: #edc40b;
}
.section-header.active.use {
    border-bottom-color: #f0ee0c;
}
.section-header.use:hover > a::before,
.section-header.use.active > a::before {
    color: #f0ee0c;
}
.section-header.active.type {
    border-bottom-color: #ff9100;
}
.section-header.type:hover > a::before,
.section-header.type.active > a::before {
    color: #ff9100;
}
.section-header.active.age {
    border-bottom-color: #ee5f63;
}
.section-header.age:hover > a::before,
.section-header.age.active > a::before {
    color: #ee5f63;
}
.section-header.active.size {
    border-bottom-color: #ee91bf;
}
.section-header.size:hover > a::before,
.section-header.size.active > a::before {
    color: #ee91bf;
}
.section-header.active.construction {
    border-bottom-color: #aa7fa7;
}
.section-header.construction:hover > a::before,
.section-header.construction.active > a::before {
    color: #aa7fa7;
}
.section-header.active.team {
    border-bottom-color: #6f879c;
}
.section-header.team:hover > a::before,
.section-header.team.active > a::before {
    color: #6f879c;
}
.section-header.active.energy {
    border-bottom-color: #5ec232;
}
.section-header.energy:hover > a::before,
.section-header.energy.active > a::before {
    color: #5ec232;
}
.section-header.active.greenery {
    border-bottom-color: #6dbb8b;
}
.section-header.greenery:hover > a::before,
.section-header.greenery.active > a::before {
    color: #6dbb8b;
}
.section-header.active.community {
    border-bottom-color: #65b7ff;
}
.section-header.community:hover > a::before,
.section-header.community.active > a::before {
    color: #65b7ff;
}
.section-header.active.planning {
    border-bottom-color: #a1a3a9;
}
.section-header.planning:hover > a::before,
.section-header.planning.active > a::before {
    color: #a1a3a9;
}
.section-header.active.like {
    border-bottom-color: #9c896d;
}
.section-header.like:hover > a::before,
.section-header.like.active > a::before {
    color: #9c896d;
}

.section-header > a::before {
    display: block;
    position: absolute;
    left: 0.55rem;
    top: 0.5rem;
    width: 1.2rem;
    height: 1rem;
    text-align: center;
    color: #222264;
    font-size: 1.2rem;
    content: '\25B8';
}
.section-header:hover > a::before,
.section-header.active > a::before {
    font-size: 1rem;
}
.section-header:hover > a::before,
.section-header.active > a::before {
    top: 0.7rem;
    content: '\25BC';
}

.data-section.inactive .section-header,
.data-section.inactive .section-header > a {
    color: #777;
}
.data-section.inactive .section-header.active,
.data-section.inactive .section-header.active:hover > a,
.data-section.inactive .section-header.active > a {
    color: #222;
}
.section-header .icon-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.7rem 0.5rem 0.5rem 0;
}

/**
 * Icon buttons
 */
.icon-button {
    display: inline-block;
    background-color: transparent;
    font-size: 0.8333rem;

    outline: none;
    border: none;

    color: #222;
    vertical-align: top;
}
.icon-button:hover {
    color: #222;
    text-decoration: none;
}

.icon-button.tooltip-hint {
    padding: 0;
}
.icon-button svg {
    background-color: transparent;
    transition: background-color color 0.2s;
    display: inline-block;

    color: #222;
    margin-top: 2px;
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 15px;
    margin: 0 0.05rem;
    display: inline-block;
    vertical-align: middle;
}
.svg-inline--fa.fa-w-11,
.svg-inline--fa.fa-w-16,
.svg-inline--fa.fa-w-8 {
    width: 30px;
}
.icon-button:hover svg {
    background-color: #fff;
}
.icon-button.edit:hover svg {
    color: rgb(11, 225, 225);
}
.icon-button.help,
.section-header .icon-button.help,
.section-header .icon-button.copy {
    margin-top: 2px;
}
.section-header .icon-button.copy {
    cursor: pointer;
    margin-left: 5px;
}
.icon-button.copy:hover,
.icon-button.help:hover {
    color: rgb(0, 81, 255)
}
.icon-button.tooltip-hint.active svg,
.icon-button.tooltip-hint:hover svg {
    color: rgb(255, 11, 245);
}
.icon-button.close-edit svg {
    margin-top: -1px;
}
.icon-button.close-edit:hover svg {
    color: rgb(255, 72, 11)
}
.icon-button.save:hover svg {
    color: rgb(11, 225, 72);
}
.section-header .icon-button {
    float: right;
    margin-top: -2px;
}
label .icon-buttons,
.data-list dt .icon-buttons {
    float: right;
}

/* Back button */
.icon-button.back,
.icon-button.back:hover {
    padding: 0;
    background-color: transparent;
}
.icon-button.back:hover svg {
    background-color: transparent;
}

/**
 * Data list sections
 */
.data-section .h3 {
    margin: 0;
}
.data-intro {
    padding: 0 0.5rem 0 2.25rem;
    margin-top: 0.5rem;
}
.data-section p {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.data-section ul {
    padding-left: 3.333rem;
    font-size: 1rem;
}
.data-section li {
    margin-bottom: 0.3rem;
}
.data-list {
    margin: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.data-section form {
    padding: 0 0.75rem;
}
.data-list a {
    color: #555;
}
.data-list a:focus,
.data-list a:active,
.data-list a:hover {
    color: #222;
}
.data-list dt,
.data-section label {
    display: block;
    margin: 0.5em 0 0;
    font-size: 0.8333rem;
    font-weight: normal;
    color: #555;
}
.data-section input,
.data-section textarea,
.data-section select {
    margin: 0 0 0.5em 0;
}
.data-list dd {
    margin: 0 0 0.5rem;
    line-height: 1.5;
}
.data-list .no-data {
    color: #999;
}
.data-list dd ul {
    list-style: none;
    padding-left: 0;
}
