.theme-switcher {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    right: 10px;
    float: right;
    background: white;
}
.theme-switcher .btn {
    margin: 0;
}

.theme-switcher.night .btn {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.theme-switcher.night .btn:hover {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}
