.tooltip-hint {
    cursor: pointer;
}
.tooltip-wrap {
    float: right;
    position: relative;
    top: -5px;
}
.tooltip-wrap .icon-button svg {
    width: 1rem;
    height: 1rem;
    margin-top: -2px;
}
.tooltip {
    text-transform: none;
    text-align: left;
    width: 11em;
    right: 0;
    top: 27px;
    opacity: 1;
}
.tooltip .arrow {
    right: 7px;
}
