/**
 * Welcome jumbotron
 */
.welcome-float {
    position: absolute;
    z-index: 10000;
    top: 0;
    width: 100%;
    border-radius: 0;
    background: #fff;
    background-color: rgba(255,255,255,0.95);
    opacity: 1;
    transition: opacity 0.4s;
}
.welcome-float.offscreen {
    opacity: 0;
}
.welcome-float.remove {
    display: none;
}
@media (min-width: 768px){
    .welcome-float {
        left: 50%;
        margin-left: -20em;
        width: 40em;
        top: 1em;
    }
}
